$icomoon-font-family: "cw_icon" !default;
$icomoon-font-path: "../fonts" !default;
$icon-search: "\e917";
$icon-check-circle: "\e90d";
$icon-exclamation-circle: "\e90f";
$icon-question-circle: "\e90e";
$icon-check-solid: "\e92a";
$icon-exclamation-solid: "\e93a";
$icon-error-solid: "\e935";
$icon-sort: "\e910";
$icon-caret-down: "\e911";
$icon-caret-up: "\e912";
$icon-caret-right: "\e927";
$icon-caret-left: "\e928";
$icon-facebook: "\e91a";
$icon-instagram: "\e91b";
$icon-line: "\e91c";
$icon-twitter: "\e900";
$icon-rss: "\e921";
$icon-left: "\e91e";
$icon-right: "\e91f";
$icon-down: "\e920";
$icon-up: "\e922";
$icon-arrow-right: "\e933";
$icon-arrow-left: "\e934";
$icon-check: "\e929";
$icon-cancel: "\e92e";
$icon-minus: "\e938";
$icon-plus: "\e939";
$icon-security: "\e944";
$icon-pushpin: "\e945";
$icon-bookmark-filled: "\e932";
$icon-bookmark-outlined: "\e923";
$icon-mail: "\e925";
$icon-mail-filled: "\e947";
$icon-coin: "\e92f";
$icon-fontsize: "\e930";
$icon-download-pdf: "\e949";
$icon-zoom: "\e94a";
$icon-note: "\e94b";
$icon-volume: "\e94c";
$icon-play-solid: "\e94d";
$icon-headphones: "\e94e";
$icon-pause-solid: "\e94f";
$icon-user-filled: "\e918";
$icon-user-outlined: "\e919";
$icon-eyeon: "\e90c";
$icon-eyeoff: "\e90b";
$icon-apple: "\e901";
$icon-play: "\e91d";
$icon-lock: "\e936";
$icon-download: "\e937";
$icon-internet: "\e93b";
$icon-member-notification: "\e93c";
$icon-member-download: "\e93d";
$icon-member-invite: "\e93e";
$icon-member-lecture: "\e93f";
$icon-benefits: "\e940";
$icon-coupon: "\e941";
$icon-gift: "\e942";
$icon-member-only: "\e943";