.article__function {
    display: none !important;
}
main {
    overflow: hidden;
}
.paywall--insider {
    display: flex;
    flex-direction: column;
}
.paywall--insider::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background-color: #f7f7f7;
    transform: translateX(-50%);
    z-index: -1;
}
.paywall--insider .paywall__header {
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1.5;
    background-color: transparent;
    order: 2;
}
.paywall--insider .paywall__body {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    order: 1;
}
.paywall--insider .paywall__body img {
    order: 1;
}
.paywall--insider .paywall__body .h1 {
    order: 0;
}
.paywall--insider .paywall__body ul.check {
    order: 2;
    text-align: center;
}
.paywall--insider .paywall__body ul.check li {
    padding: 0;
    text-indent: 0;
    line-height: 1.5;
}
.paywall .paywall__body ul.check li + li {
    margin: 0;
}
.paywall--insider .paywall__body ul.check li::before {
    display: none;
}
.paywall--insider .paywall__body .btn__group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    order: 3;
}
.paywall--insider .paywall__body .btn__group .btn {
    min-width: 182px;
}
.paywall--insider .separation,
.paywall--insider .paywall__footer {
    display: none;
}

@media screen and (max-width: 1023px) {
    .paywall--insider .paywall__body .btn__group .btn {
        order: 1;
    }
    .paywall--insider .paywall__body .btn__group .btn + .btn {
        margin-left: 0;
        margin-bottom: 10px;
        order: 0;
    }
}
